code {
  z-index: 5;
  width: 50%;
  height: max-content;
  padding: 16px 32px 16px 48px;
  background-color: #1f1f20;
  font-family: Fira Code, sans-serif;
  font-size: 0.9rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 7px -2px rgba(0,0,0,0.4);
  outline: none;
  counter-reset: step;
  overflow-y: auto;
}

p {
  display: block;
  position: relative;
  line-height: 1.5rem;
  white-space: pre-wrap;
  margin: 0;
}
p::before {
  content: counter(step);
  counter-increment: step;
  position: absolute;
  right: calc(100% + 16px);
  color: #678;
}

code .js1 { color:#E68; }
code .js2 {color: hsl(200, 75%, 70%)}
code .js-num {color: hsl(136, 58%, 65%)}
code .func-name {color: hsl(300, 75%, 70%)}
code .string, code .string * {color: hsl(22, 68%, 67%) }
code .func-args, code .func-args * {color: hsl(22, 68%, 67%) }
code .comment, code .comment * { color:#999; }